@model List<Pazzino.Database.JobPost>

@{
    ViewBag.Title = "Job Search Result";
}
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<div class="div-margin-20">

        @Html.Partial("JobSearchForm")



</div>
<div class="div-margin-10">
    <div class="row">
        <div class="col-md-8">
            <div class="adv">
                
                <!-- job search ad top banner -->
                <ins class="adsbygoogle"
                     style="display:inline-block;width:728px;height:90px"
                     data-ad-client="ca-pub-6686593824323685"
                     data-ad-slot="4448859331"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>

            <div class="">
                @(Html.Kendo().ListView<Pazzino.Database.JobPost>()
                    .Name("listView")
                    .TagName("div")
                    .ClientTemplateId("JobPostListDetailTemplete")
                    .DataSource(dataSource =>
                    {
                        dataSource.Read(read => read.Action("Search", "Job").Data("onJobListSearch"));
                        dataSource.PageSize(10);
                    })
                    .Pageable(p => p.ButtonCount(5).Info(false))
                )
            </div>
        </div>

        <div class="col-md-4">
            <!-- job side ad -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:300px;height:600px"
                 data-ad-client="ca-pub-6686593824323685"
                 data-ad-slot="2972126130"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            
        </div>
    </div>

    <div class="row">
        <div class="adv">
            <!-- button banner -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:728px;height:90px"
                 data-ad-client="ca-pub-6686593824323685"
                 data-ad-slot="1355792136"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>

</div>

<script type="text/x-kendo-tmpl" id="JobPostListDetailTemplete">
    <div class="div-margin-20">
        # if(IsIndeed == false){ #
        @if (SessionItems.CurrentUser == null || SessionItems.CurrentUser.Id.Equals(Guid.Empty.ToString()))
        {
            <div><a class="list-link" href="javascript:redirectTo('#:Url#')">#:JobName#</a><span><a href="javascript:goLogin()" class="btn btn-primary btn-xs btnjobSave"> Save</a></span></div>
            @*<a href="#" class="btn btn-primary btn-xs">Mini button</a>*@
        }
        else
        {
            <div><a class="list-link" href="javascript:redirectTo('#:Url#')">#:JobName#</a><span><a href="javascript:saveUserJob('#:Id#')" class="btn btn-primary btn-xs btnjobSave"> Save</a></span></div>
        }
        
        # }else{ #
        
        @if (SessionItems.CurrentUser == null || SessionItems.CurrentUser.Id.Equals(Guid.Empty.ToString())) {
        <div><a class="list-link" href="/Job/JobDetailView?jobId=#: Id#">#:JobName#</a><span><a href="javascript:goLogin()" class="btn btn-primary btn-xs btnjobSave"> Save</a></span></div>
        }
        else
        {
        <div><a class="list-link" href="/Job/JobDetailView?jobId=#: Id#">#:JobName#</a><span><a href="javascript:saveUserJob('#:Id#')" class="btn btn-primary btn-xs btnjobSave"> Save</a></span></div>
        }
        # } #
        
        <div>#:CompanyName#  #:JobLocation#</div>
        <div>#:JobDescription#</div>
        <div>#:kendo.toString(JobPostDate, "d")#</div>
    </div>
</script>

<script>
    function onJobListSearch() {
        return {
            category: $("#category").val(),
            location: $("#location").val()
        };
    }

    $(document).ready(function () {
        $(".jobSaveLink").click(function (e) {
            saveUserJob($(e).val());
        });
    });
</script>

<style>
    .k-widget{
        border-color: white;
    }
</style>

<script>
    (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-99849071-1', 'auto');
    ga('send', 'pageview');

</script>