<form action="/Job/JobsView" class="">
    <div class="row">
        <label class="col-lg-4">What</label>
        <label class="col-lg-4">Where</label>
        <div class="col-lg-4"></div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            @Html.Partial("JobCategoryAutoComplete")
        </div>
        <div class="col-lg-4">
            @Html.Partial("LocationAutoComplete")
        </div>
        <div class="col-lg-4">
            @(Html.Kendo().Button()
        .Name("btnSearch")
        .HtmlAttributes(new { type = "submit", @class = "k-primary" })
        .Content("Find Me Jobs!"))
        </div>
    </div>
</form>
