
<div class="row">
    <div class="col-md-4">
        <button class="btn btn-success" onclick="location.href='/Manage/'">Upload your resume</button>
        <div>Let employers find you</div>
    </div>
    <div class="col-md-4">
        <button class="btn btn-success"onclick="location.href='/Manage/'">Employers: Post a job</button>
        <div>Best way to find best employee</div>
    </div>
</div>